VTRescuePhoneApp/VTRescuePhoneApp/Service References/AEDFinderServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AzureAEDFinderWCFServiceWebRole" />
      <xsd:import schemaLocation="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AEDServiceInterface_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="AEDServiceInterface_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="AEDServiceInterface_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="AEDServiceInterface_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="AEDServiceInterface_GetAllAEDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAEDs" />
  </wsdl:message>
  <wsdl:message name="AEDServiceInterface_GetAllAEDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAEDsResponse" />
  </wsdl:message>
  <wsdl:portType name="AEDServiceInterface">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/AEDServiceInterface/GetData" message="tns:AEDServiceInterface_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AEDServiceInterface/GetDataResponse" message="tns:AEDServiceInterface_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/AEDServiceInterface/GetDataUsingDataContract" message="tns:AEDServiceInterface_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AEDServiceInterface/GetDataUsingDataContractResponse" message="tns:AEDServiceInterface_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAEDs">
      <wsdl:input wsaw:Action="http://tempuri.org/AEDServiceInterface/GetAllAEDs" message="tns:AEDServiceInterface_GetAllAEDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AEDServiceInterface/GetAllAEDsResponse" message="tns:AEDServiceInterface_GetAllAEDs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AEDServiceInterface" type="tns:AEDServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/AEDServiceInterface/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/AEDServiceInterface/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAEDs">
      <soap:operation soapAction="http://tempuri.org/AEDServiceInterface/GetAllAEDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_AEDServiceInterface" binding="tns:BasicHttpBinding_AEDServiceInterface">
      <soap:address location="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>