VTRescuePhoneApp/VTRescuePhoneApp/Service References/AEDFinderServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AzureAEDFinderWCFServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzureAEDFinderWCFServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://8e295fa9a22449d5b46e34c60d302d05.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfaed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aed" nillable="true" type="tns:aed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaed" nillable="true" type="tns:ArrayOfaed" />
  <xs:complexType name="aed">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="building" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="floor" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="lat" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="loc_description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="long" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="pad_expiration" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aed" nillable="true" type="tns:aed" />
</xs:schema>